.card{
    height: 100% !important;
    width: 100% !important;
    border: 4px solid #fae7cb;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.050, 1.050);
}

.image-card:hover{
    cursor: pointer;
    color: #fffdf9
}

.set-background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-background{
    background-color: rgba(0,0,0,.3);
}


.ellipses-dot{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100%);
}

.card-footer{
    border: none !important;
}

#large-box{
    min-height: 300px;
}

#small-box{
    min-height: 150px;
}

#title{
    font-size: 12px;
    display: inline-block;
}

#large-title{
    font-weight: bold; 
    font-size:  18px;
}

#large-author{
    font-size: 14px;
}

#large-date{
    font-size: 12px;
}

#small-title{
    font-size: 11px;
    font-weight: bold;
}

#small-date{
    font-size: 10px;
}

#side-image{
    min-width: 60px;
    min-height: 60px;
    background: #fae7cb;
    border-style: none;
}

#side-title{
    font-size: 16px;
}

#side-date{
    font-size: 12px;
}
