<div class="row mt-5" id="icon-group">
<a href="www.twitter.com" class="ml-2 icon-color"><fa-icon size="2x" [icon]="faTwitterSquare"></fa-icon></a>
<a href="www.linkedin.com" class="ml-2 icon-color"><fa-icon size="2x" [icon]="faInstagramSquare"></fa-icon></a>
<a href="www.facebook.com" class="ml-2 icon-color"><fa-icon size="2x" [icon]="faFacebookSquare"></fa-icon></a>
</div>

<div class="row">
  <app-breadcrumb [items]="upperBreadcrumb"></app-breadcrumb>
</div>

<div class="row">
  &copy; Copyright 2013 Company Name inc.
</div>
<div class="row">
  <app-breadcrumb [items]="bottomBreadcrumb"></app-breadcrumb>
</div>